body{
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

main {
	background-color:white;
}

.content {
	padding: 30px;
}

.headerimg {
	width: 300px;
	height: auto;
}

.application__navigation{
padding: 1em;
}

.fas {
	font-size: 25px;
}